# Car Dheko Project Final

In [49]:
import pandas as pd
import ast
import json
chennai_cars = pd.read_excel('chennai_cars.xlsx')

In [51]:
chennai_cars.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [53]:
chennai_cars.iloc[0, 0]

"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '20,000', 'transmission': 'Automatic', 'ownerNo': 1, 'owner': '1st Owner', 'oem': 'Kia', 'model': 'Kia Sonet', 'modelYear': 2022, 'centralVariantId': 8654, 'variantName': 'Turbo DCT Anniversary Edition', 'price': '₹ 11.50 Lakh', 'priceActual': '', 'priceSaving': '', 'priceFixedText': None, 'trendingText': {'imgUrl': 'https://stimg.cardekho.com/used-cars/common/icons/trending.svg', 'heading': 'Trending Car!', 'desc': 'High chances of sale in next 6 days'}}"

In [55]:
chennai_cars.iloc[0, 1]

"{'heading': 'Car overview', 'top': [{'key': 'Registration Year', 'value': '2022', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'}, {'key': 'Insurance Validity', 'value': 'Third Party insurance', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'}, {'key': 'Fuel Type', 'value': 'Petrol', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'}, {'key': 'Seats', 'value': '5 Seats', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'}, {'key': 'Kms Driven', 'value': '20,000 Kms', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'}, {'key': 'RTO', 'value': 'TN02', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/rto.svg'}, {'key': 'Ownership', 'value': 'First Owner', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'}, {'key': 'Engine Displacement', 'value': '998 cc', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'}, {'key': 'Transmission', 'value': 'Automatic', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'}, {'key': 'Year of Manufacture', 'value': 2022, 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}], 'bottomData': None}"

In [57]:
chennai_cars.iloc[0, 2]

"{'heading': 'Features', 'top': [{'value': 'Power Steering'}, {'value': 'Power Windows Front'}, {'value': 'Air Conditioner'}, {'value': 'Heater'}, {'value': 'Adjustable Head Lights'}, {'value': 'Fog Lights Front'}, {'value': 'Anti Lock Braking System'}, {'value': 'Brake Assist'}, {'value': 'Radio'}], 'data': [{'heading': 'Comfort & Convenience', 'subHeading': 'Comfort', 'list': [{'value': 'Power Steering'}, {'value': 'Power Windows Front'}, {'value': 'Power Windows Rear'}, {'value': 'Low Fuel Warning Light'}, {'value': 'Accessory Power Outlet'}, {'value': 'Trunk Light'}, {'value': 'Rear Reading Lamp'}, {'value': 'Rear Seat Headrest'}, {'value': 'Rear Seat Centre Arm Rest'}, {'value': 'Cup Holders Rear'}, {'value': 'Multifunction Steering Wheel'}, {'value': 'Cruise Control'}, {'value': 'Rear ACVents'}, {'value': 'Smart Access Card Entry'}, {'value': 'Engine Start Stop Button'}, {'value': 'Steering Wheel Gearshift Paddles'}, {'value': 'Battery Saver'}, {'value': 'Drive Modes'}, {'value': 'Remote Engine Start Stop'}, {'value': 'Adjustable Headrest'}]}, {'heading': 'Interior', 'subHeading': 'Interior', 'list': [{'value': 'Air Conditioner'}, {'value': 'Heater'}, {'value': 'Adjustable Steering'}, {'value': 'Digital Odometer'}, {'value': 'Electronic Multi Tripmeter'}, {'value': 'Leather Seats'}, {'value': 'Fabric Upholstery'}, {'value': 'Leather Steering Wheel'}, {'value': 'Glove Compartment'}, {'value': 'Digital Clock'}, {'value': 'Driving Experience Control Eco'}, {'value': 'Height Adjustable Driver Seat'}, {'value': 'Leather Wrap Gear Shift Selector'}]}, {'heading': 'Exterior', 'subHeading': 'Exterior', 'list': [{'value': 'Adjustable Head Lights'}, {'value': 'Fog Lights Front'}, {'value': 'Power Adjustable Exterior Rear View Mirror'}, {'value': 'Electric Folding Rear View Mirror'}, {'value': 'Rear Window Defogger'}, {'value': 'Alloy Wheels'}, {'value': 'Integrated Antenna'}, {'value': 'Tinted Glass'}, {'value': 'Rear Spoiler'}, {'value': 'Sun Roof'}, {'value': 'Moon Roof'}, {'value': 'Outside Rear View Mirror Turn Indicators'}, {'value': 'Chrome Grille'}, {'value': 'Roof Rail'}, {'value': 'LEDDRLs'}, {'value': 'LEDHeadlights'}, {'value': 'LEDTaillights'}]}, {'heading': 'Safety', 'subHeading': 'Safety', 'list': [{'value': 'Anti Lock Braking System'}, {'value': 'Brake Assist'}, {'value': 'Centeral Locking'}, {'value': 'Power Door Locks'}, {'value': 'Child Safety Locks'}, {'value': 'Driver Air Bag'}, {'value': 'Passenger Air Bag'}, {'value': 'Side Air Bag Front'}, {'value': 'Day Night Rear View Mirror'}, {'value': 'Passenger Side Rear View Mirror'}, {'value': 'Rear Seat Belts'}, {'value': 'Seat Belt Warning'}, {'value': 'Vehicle Stability Control System'}, {'value': 'Traction Control'}, {'value': 'Adjustable Seats'}, {'value': 'Keyless Entry'}, {'value': 'Engine Check Warning'}, {'value': 'Crash Sensor'}, {'value': 'Automatic Head Lamps'}, {'value': 'Ebd'}, {'value': 'Follow Me Home Headlamps'}, {'value': 'Rear Camera'}, {'value': 'Anti Pinch Power Windows'}, {'value': 'Speed Sensing Auto Door Lock'}, {'value': 'Isofix Child Seat Mounts'}, {'value': 'Pretensioners And Force Limiter Seatbelts'}, {'value': 'Hill Assist'}, {'value': 'Impact Sensing Auto Door Lock'}, {'value': 'No Of Airbags'}, {'value': 'Eletronic Stability Control'}]}, {'heading': 'Entertainment & Communication', 'subHeading': 'Entertainment', 'list': [{'value': 'Radio'}, {'value': 'Speakers Front'}, {'value': 'Speakers Rear'}, {'value': 'Integrated2Din Audio'}, {'value': 'Bluetooth'}, {'value': 'Touch Screen'}, {'value': 'Number Of Speaker'}, {'value': 'Apple Car Play'}, {'value': 'Android Auto'}]}], 'commonIcon': 'https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg'}"

In [59]:
chennai_cars.iloc[0, 3]

"{'heading': 'Specifications', 'top': [{'key': 'Engine', 'value': '998 CC'}, {'key': 'Max Power', 'value': '118.36bhp'}, {'key': 'Torque', 'value': '172nm'}, {'key': 'Wheel Size', 'value': '16'}, {'key': 'Seats', 'value': '5'}], 'data': [{'heading': 'Engine and Transmission', 'subHeading': 'Engine', 'list': [{'key': 'Color', 'value': 'Black'}, {'key': 'Engine Type', 'value': 'Smartstream G1.0 T - GDi'}, {'key': 'Displacement', 'value': '998'}, {'key': 'Max Power', 'value': '118.36bhp@6000rpm'}, {'key': 'Max Torque', 'value': '172nm@1500-4000rpm'}, {'key': 'No of Cylinder', 'value': 3}, {'key': 'Values per Cylinder', 'value': 4}, {'key': 'Fuel Suppy System', 'value': 'GDi'}, {'key': 'Turbo Charger', 'value': 'Yes'}]}, {'heading': 'Dimensions & Capacity', 'subHeading': 'Dimensions', 'list': [{'key': 'Length', 'value': '3995mm'}, {'key': 'Width', 'value': '1790'}, {'key': 'Height', 'value': '1642'}, {'key': 'Wheel Base', 'value': '2500'}, {'key': 'Kerb Weight', 'value': '1465'}]}, {'heading': 'Miscellaneous', 'subHeading': 'Miscellaneous', 'list': [{'key': 'Gear Box', 'value': '7-Speed DCT'}, {'key': 'Drive Type', 'value': 'FWD'}, {'key': 'Seating Capacity', 'value': '5'}, {'key': 'Steering Type', 'value': 'Electric'}, {'key': 'Front Brake Type', 'value': 'Disc'}, {'key': 'Rear Brake Type', 'value': 'Drum'}, {'key': 'Tyre Type', 'value': 'Tubeless, Radial'}, {'key': 'Alloy Wheel Size', 'value': '16'}, {'key': 'No Door Numbers', 'value': '5'}, {'key': 'Cargo Volumn', 'value': '392'}]}], 'commonIcon': ''}"

In [61]:
chennai_cars.iloc[0, 4]

'https://www.cardekho.com/used-car-details/used-Kia-Sonet-Turbo-Dct-Anniversary-Edition-cars-Chennai_9a50ab47-7b87-4649-951d-fadcf4f77ceb.htm'

In [63]:
for col in chennai_cars.columns[:4]:
    chennai_cars[col] = chennai_cars[col].apply(ast.literal_eval)

chennai_cars

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
1414,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1415,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1416,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1417,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1418,"{'it': 0, 'ft': 'Diesel', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [65]:
car_detail_df = pd.json_normalize(chennai_cars['new_car_detail'])

In [67]:
car_detail_df

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,₹ 11.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,₹ 4.15 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,₹ 7.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,1579,Sportz 1.1L,₹ 3.98 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,1341,1.2 VX i VTEC,₹ 5.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,0,Petrol,Hatchback,"42,891",Automatic,1,1st Owner,Maruti,Maruti Swift,2018,6190,AMT VXI,₹ 6.20 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1415,0,Diesel,SUV,"59,100",Manual,1,1st Owner,Renault,Renault Duster,2018,5050,85PS Diesel RxZ,₹ 8.90 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1416,0,Petrol,SUV,"55,913",Automatic,1,1st Owner,Tata,Tata Nexon,2018,6364,1.2 Revotron XZA Plus,₹ 8.01 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1417,0,Diesel,SUV,"65,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Tiguan,2017,5849,2.0 TDI Highline,₹ 20.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1418,0,Diesel,Sedan,"60,000",Automatic,1,1st Owner,BMW,BMW 3 Series GT,2019,6630,Sport,₹ 35.75 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [69]:
car_overview_df = pd.json_normalize(chennai_cars['new_car_overview'])

In [71]:
car_overview_df

,heading,top,bottomData
0,Car overview,"[{'key': 'Registration Year', 'value': '2022',...",None
1,Car overview,"[{'key': 'Registration Year', 'value': 'Feb 20...",None
2,Car overview,"[{'key': 'Registration Year', 'value': '2021',...",None
3,Car overview,"[{'key': 'Registration Year', 'value': 'May 20...",None
4,Car overview,"[{'key': 'Registration Year', 'value': '2015',...",None
...,...,...,...
1414,Car overview,"[{'key': 'Registration Year', 'value': 'Jun 20...",None
1415,Car overview,"[{'key': 'Registration Year', 'value': 'Feb 20...",None
1416,Car overview,"[{'key': 'Registration Year', 'value': 'Aug 20...",None
1417,Car overview,"[{'key': 'Registration Year', 'value': 'Aug 20...",None
1418,Car overview,"[{'key': 'Registration Year', 'value': 'Oct 20...",None

In [73]:
flattened_data = []
for index, row in car_overview_df.iterrows():
    columns_dict = {item['key']: item['value'] for item in row['top']}
    flattened_data.append(columns_dict)

car_overview_flattened = pd.DataFrame(flattened_data)
car_overview_flattened

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TN02,First Owner,998 cc,Automatic,2022
1,Feb 2015,Comprehensive,Petrol,7 Seats,"20,687 Kms",TN04,First Owner,1196 cc,Manual,2015
2,2021,Third Party insurance,Petrol,5 Seats,"30,000 Kms",TN22,First Owner,999 cc,Manual,2021
3,May 2015,Comprehensive,Petrol,5 Seats,"59,247 Kms",TN11,First Owner,1086 cc,Manual,2015
4,2015,Third Party insurance,Petrol,5 Seats,"50,000 Kms",KA03,First Owner,1199 cc,Manual,2015
...,...,...,...,...,...,...,...,...,...,...
1414,Jun 2018,Third Party insurance,Petrol,5 Seats,"42,891 Kms",TN09,First Owner,1197 cc,Automatic,2018
1415,Feb 2019,Third Party insurance,Diesel,5 Seats,"59,100 Kms",TN11,First Owner,1461 cc,Manual,2018
1416,Aug 2018,Not Available,Petrol,5 Seats,"55,913 Kms",TN11,First Owner,1198 cc,Automatic,2018
1417,Aug 2017,Comprehensive,Diesel,5 Seats,"65,000 Kms",TN22,First Owner,1968 cc,Automatic,2017
1418,Oct 2019,Comprehensive,Diesel,5 Seats,"60,000 Kms",TN87,First Owner,1995 cc,Automatic,2019

In [81]:
car_feature_df = pd.json_normalize(chennai_cars['new_car_feature'])
car_feature_df

,heading,top,data,commonIcon
0,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1,Features,"[{'value': 'Low Fuel Warning Light'}, {'value'...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
2,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
3,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
4,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
...,...,...,...,...
1414,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1415,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1416,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1417,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1418,Features,"[{'value': 'Power Steering'}, {'value': 'Power...","[{'heading': 'Comfort & Convenience', 'subHead...",https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg

In [102]:
flattened_data2 = []

for index, row in car_feature_df.iterrows():
    # Extract the 'value' from each dictionary in the 'top' column list
    features = [item['value'] for item in row['top']]
    
    # Join the features into a single string (or keep as a list if needed)
    feature_str = ', '.join(features)
    
    # Append the feature string to the flattened data list
    flattened_data2.append(feature_str)

car_top_feature_flattened = pd.DataFrame(flattened_data2, columns=['Top_Feature'])
car_top_feature_flattened

                                            Top_Feature
0     Power Steering, Power Windows Front, Air Condi...
1     Low Fuel Warning Light, Accessory Power Outlet...
2     Power Steering, Power Windows Front, Air Condi...
3     Power Steering, Power Windows Front, Air Condi...
4     Power Steering, Power Windows Front, Air Condi...
...                                                 ...
1414  Power Steering, Power Windows Front, Air Condi...
1415  Power Steering, Power Windows Front, Air Condi...
1416  Power Steering, Power Windows Front, Air Condi...
1417  Power Steering, Power Windows Front, Air Condi...
1418  Power Steering, Power Windows Front, Air Condi...

[1419 rows x 1 columns]

In [104]:
flattened_data3 = []

# Iterate through the nested data
for index, row in car_feature_df.iterrows():
    row_data = {}  # To hold the flattened data for each row
    
    # Iterate through each category in the row
    for category in row['data']:
        heading = category['heading']
        values = [item['value'] for item in category['list']]
        values_str = ', '.join(values)
        
        # Store the values string under the heading key
        row_data[heading] = values_str
    
    # Append the row's dictionary to the flattened data list
    flattened_data3.append(row_data)

car_feature_indetail_flattened = pd.DataFrame(flattened_data3)
car_feature_indetail_flattened

,Comfort & Convenience,Interior,Exterior,Safety,Entertainment & Communication
0,"Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center...","Radio, Speakers Front, Speakers Rear, Integrat..."
1,"Low Fuel Warning Light, Accessory Power Outlet...","Heater, Digital Odometer, Electronic Multi Tri...","Adjustable Head Lights, Manually Adjustable Ex...","Anti Lock Braking System, Child Safety Locks, ...",NaN
2,"Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center...","Radio, Speakers Front, Speakers Rear, Integrat..."
3,"Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Manu...","Centeral Locking, Power Door Locks, Child Safe...","Cd Player, Radio, Speakers Front, Speakers Rea..."
4,"Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Dvd Player, Radio, Speakers Front, ..."
...,...,...,...,...,...
1414,"Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Power Adjustable Exter...","Anti Lock Braking System, Brake Assist, Center...","Cd Player, Radio, Speakers Front, Speakers Rea..."
1415,"Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center...","Cd Player, Radio, Speakers Front, Speakers Rea..."
1416,"Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Radio, Speakers Front, Speakers Rear, Integrat..."
1417,"Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Fog ...","Anti Lock Braking System, Brake Assist, Center...","Cd Player, Radio, Speakers Front, Speakers Rea..."
1418,"Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center...","Cd Player, Cd Changer, Dvd Player, Radio, Audi..."

In [106]:
car_specs_df = pd.json_normalize(chennai_cars['new_car_specs'])
car_specs_df

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Engine', 'value': '998 CC'}, {'key':...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '15.37 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '20 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '19.81 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '18.7 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
...,...,...,...,...
1414,Specifications,"[{'key': 'Mileage', 'value': '22 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
1415,Specifications,"[{'key': 'Mileage', 'value': '19.87 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1416,Specifications,"[{'key': 'Mileage', 'value': '17 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
1417,Specifications,"[{'key': 'Mileage', 'value': '16.65 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
1418,Specifications,"[{'key': 'Mileage', 'value': '21.76 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [108]:
flattened_data4 = []
for index, row in car_specs_df.iterrows():
    columns_dict = {item['key']: item['value'] for item in row['top']}
    flattened_data4.append(columns_dict)

car_top_specs_flattened = pd.DataFrame(flattened_data4)
car_top_specs_flattened

       Engine  Max Power   Torque Wheel Size Seats     Mileage
0      998 CC  118.36bhp    172nm         16     5         NaN
1     1196 CC      73bhp    101Nm        NaN     7  15.37 kmpl
2      999 CC   98.63bhp    160Nm         16     5     20 kmpl
3     1086 CC   68.05bhp  99.04Nm        NaN     5  19.81 kmpl
4     1199 CC    88.7bhp    110Nm         15     5   18.7 kmpl
...       ...        ...      ...        ...   ...         ...
1414  1197 CC   81.80bhp    113Nm        NaN     5     22 kmpl
1415  1461 CC    83.8bhp    200Nm         16     5  19.87 kmpl
1416  1198 CC   108.5bhp    170Nm         16     5     17 kmpl
1417  1968 CC     141bhp    340Nm         18     5  16.65 kmpl
1418  1995 CC     188bhp    400Nm         18     5  21.76 kmpl

[1419 rows x 6 columns]

In [112]:
flattened_data5 = []
for index, row in car_specs_df.iterrows():
    row_data = {}
    for category in row['data']:
        for item in category['list']:
            key = item['key']  # Extract the key (e.g., 'Engine', 'Max Power', etc.)
            value = item['value']  # Extract the corresponding value (e.g., '998 CC', '118.36bhp')
            row_data[key] = value
    flattened_data5.append(row_data)

flattened_df = pd.DataFrame(flattened_data5)

car_specs_flattened = pd.concat([car_top_specs_flattened, flattened_df], axis=1)
car_specs_flattened

,Engine,Max Power,Torque,Wheel Size,Seats,Mileage,Color,Engine Type,Displacement,Max Power,...,Compression Ratio,Super Charger,Front Tread,Rear Tread,Gross Weight,Turning Radius,Top Speed,Acceleration,BoreX Stroke,Ground Clearance Unladen
0,998 CC,118.36bhp,172nm,16,5,NaN,Black,Smartstream G1.0 T - GDi,998,118.36bhp@6000rpm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1196 CC,73bhp,101Nm,NaN,7,15.37 kmpl,Grey,In-Line Engine,1196,73bhp@6000rpm,...,9.9:1,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN
2,999 CC,98.63bhp,160Nm,16,5,20 kmpl,Others,HRA0 1.0 TURBO PETROL,999,98.63bhp@5000rpm,...,NaN,No,NaN,NaN,NaN,5.0,NaN,11.7,72.2 x 81.3,NaN
3,1086 CC,68.05bhp,99.04Nm,NaN,5,19.81 kmpl,Silver,IRDE2 Engine,1086,68.05bhp@5500rpm,...,NaN,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN
4,1199 CC,88.7bhp,110Nm,15,5,18.7 kmpl,Others,i-VTEC Petrol Engine,1199,88.7bhp@6000rpm,...,NaN,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,1197 CC,81.80bhp,113Nm,NaN,5,22 kmpl,Blue,VTVT Engine,1197,81.80bhp@6000rpm,...,NaN,No,1530mm,1530mm,1315kg,4.8 Meters,NaN,NaN,NaN,NaN
1415,1461 CC,83.8bhp,200Nm,16,5,19.87 kmpl,Orange,dCi THP Diesel Engine,1461,83.8bhp@3750rpm,...,NaN,No,1560mm,1567mm,1777kg,5.2 metres,156 Kmph,13.9 Seconds,NaN,NaN
1416,1198 CC,108.5bhp,170Nm,16,5,17 kmpl,White,Revotron 1.2L Turbocharged engine,1198,108.5bhp@5000rpm,...,NaN,No,1540 mm,1530 mm,NaN,5.1m,154.19 kmph,NaN,77x85.8,209 mm
1417,1968 CC,141bhp,340Nm,18,5,16.65 kmpl,Grey,Common Rail Direct Injection,1968,141bhp@4000rpm,...,NaN,No,1578mm,1568mm,2250kg,5.75meters,NaN,NaN,74.5 x 81 mm,NaN
1418,1995 CC,188bhp,400Nm,18,5,21.76 kmpl,White,TwinPower Turbo 4-Cylinder Diesel Engine,1995,188bhp@4000rpm,...,NaN,No,1541 mm,1581 mm,NaN,5.5 metres,226 Kmph,7.7 Seconds,NaN,NaN

In [116]:
chennai_cars_df = pd.concat([car_detail_df, car_overview_flattened, car_top_feature_flattened, car_feature_indetail_flattened, car_specs_flattened], axis = 1)
chennai_cars_df.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Compression Ratio,Super Charger,Front Tread,Rear Tread,Gross Weight,Turning Radius,Top Speed,Acceleration,BoreX Stroke,Ground Clearance Unladen
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,...,9.9:1,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,...,NaN,No,NaN,NaN,NaN,5.0,NaN,11.7,72.2 x 81.3,NaN
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,...,NaN,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,...,NaN,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN

In [118]:
chennai_cars_df['City'] = 'Chennai'
chennai_cars_df.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Super Charger,Front Tread,Rear Tread,Gross Weight,Turning Radius,Top Speed,Acceleration,BoreX Stroke,Ground Clearance Unladen,City
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chennai
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,...,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN,Chennai
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,...,No,NaN,NaN,NaN,5.0,NaN,11.7,72.2 x 81.3,NaN,Chennai
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,...,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN,Chennai
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,...,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN,Chennai

In [120]:
chennai_cars_df.to_csv('chennai_cars_df.csv')

In [133]:
bangalore_cars = pd.read_excel('bangalore_cars.xlsx')

In [135]:
bangalore_cars.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [137]:
for col in bangalore_cars.columns[:4]:
    bangalore_cars[col] = bangalore_cars[col].apply(ast.literal_eval)

bangalore_cars.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [141]:
car_detail_df = pd.json_normalize(bangalore_cars['new_car_detail'])
car_detail_df.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,₹ 4 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,₹ 5.85 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,₹ 4.62 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,₹ 7.90 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [143]:
car_overview_df = pd.json_normalize(bangalore_cars['new_car_overview'])

flattened_data = []
for index, row in car_overview_df.iterrows():
    columns_dict = {item['key']: item['value'] for item in row['top']}
    flattened_data.append(columns_dict)

car_overview_flattened = pd.DataFrame(flattened_data)

bangalore_cars_df = pd.concat([car_detail_df, car_overview_flattened], axis = 1)
bangalore_cars_df.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,2015,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015.0

In [145]:
car_feature_df = pd.json_normalize(bangalore_cars['new_car_feature'])

flattened_data2 = []

for index, row in car_feature_df.iterrows():
    # Extract the 'value' from each dictionary in the 'top' column list
    features = [item['value'] for item in row['top']]
    
    # Join the features into a single string (or keep as a list if needed)
    feature_str = ', '.join(features)
    
    # Append the feature string to the flattened data list
    flattened_data2.append(feature_str)

car_top_feature_flattened = pd.DataFrame(flattened_data2, columns=['Top_Feature'])

bangalore_cars_df = pd.concat([bangalore_cars_df, car_top_feature_flattened], axis = 1)
bangalore_cars_df.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture,Top_Feature
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0,"Power Steering, Power Windows Front, Air Condi..."
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0,"Power Steering, Power Windows Front, Air Condi..."
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0,"Power Steering, Power Windows Front, Air Condi..."
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0,"Power Steering, Power Windows Front, Air Condi..."
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015.0,"Power Steering, Power Windows Front, Air Condi..."

In [147]:
flattened_data3 = []

# Iterate through the nested data
for index, row in car_feature_df.iterrows():
    row_data = {}  # To hold the flattened data for each row
    
    # Iterate through each category in the row
    for category in row['data']:
        heading = category['heading']
        values = [item['value'] for item in category['list']]
        values_str = ', '.join(values)
        
        # Store the values string under the heading key
        row_data[heading] = values_str
    
    # Append the row's dictionary to the flattened data list
    flattened_data3.append(row_data)

flattened_df = pd.DataFrame(flattened_data3)

bangalore_cars_df = pd.concat([bangalore_cars_df, flattened_df], axis = 1)
bangalore_cars_df.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Ownership,Engine Displacement,Transmission,Year of Manufacture,Top_Feature,Comfort & Convenience,Interior,Exterior,Safety,Entertainment & Communication
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,Third Owner,998 cc,Manual,2015.0,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Digital Odometer, Ele...","Adjustable Head Lights, Manually Adjustable Ex...","Centeral Locking, Child Safety Locks, Day Nigh...",NaN
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,Second Owner,1497 cc,Manual,2018.0,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,First Owner,1199 cc,Manual,2018.0,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,First Owner,1197 cc,Manual,2014.0,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,First Owner,1248 cc,Manual,2015.0,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Radio, Audio System Remote Control, Speakers F..."

In [149]:
car_specs_df = pd.json_normalize(bangalore_cars['new_car_specs'])

flattened_data4 = []
for index, row in car_specs_df.iterrows():
    columns_dict = {item['key']: item['value'] for item in row['top']}
    flattened_data4.append(columns_dict)

car_top_specs_flattened = pd.DataFrame(flattened_data4)

bangalore_cars_df = pd.concat([bangalore_cars_df, car_top_specs_flattened], axis = 1)
bangalore_cars_df.head(2)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Interior,Exterior,Safety,Entertainment & Communication,Mileage,Engine,Max Power,Torque,Seats,Wheel Size
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,"Air Conditioner, Heater, Digital Odometer, Ele...","Adjustable Head Lights, Manually Adjustable Ex...","Centeral Locking, Child Safety Locks, Day Nigh...",NaN,23.1 kmpl,998 CC,67.04bhp,90Nm,5,NaN
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,"Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea...",17 kmpl,1497 CC,121.31bhp,150Nm,5,16

In [151]:
flattened_data5 = []
for index, row in car_specs_df.iterrows():
    row_data = {}
    for category in row['data']:
        for item in category['list']:
            key = item['key']  # Extract the key (e.g., 'Engine', 'Max Power', etc.)
            value = item['value']  # Extract the corresponding value (e.g., '998 CC', '118.36bhp')
            row_data[key] = value
    flattened_data5.append(row_data)

flattened_df = pd.DataFrame(flattened_data5)

bangalore_cars_df = pd.concat([bangalore_cars_df, flattened_df], axis=1)
bangalore_cars_df.head(2)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Alloy Wheel Size,Ground Clearance Unladen
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,NaN

In [153]:
bangalore_cars_df['City'] = 'Bangalore'
bangalore_cars_df.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Alloy Wheel Size,Ground Clearance Unladen,City
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN,Bangalore
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,NaN,Bangalore
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14,NaN,Bangalore
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14,NaN,Bangalore
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16,NaN,Bangalore

In [155]:
bangalore_cars_df.to_csv('bangalore_cars_df.csv')

In [157]:
hyderabad_cars = pd.read_excel('hyderabad_cars.xlsx')

In [159]:
for col in hyderabad_cars.columns[:4]:
    hyderabad_cars[col] = hyderabad_cars[col].apply(ast.literal_eval)

hyderabad_cars.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [161]:
car_detail_df = pd.json_normalize(hyderabad_cars['new_car_detail'])

car_overview_df = pd.json_normalize(hyderabad_cars['new_car_overview'])

flattened_data = []
for index, row in car_overview_df.iterrows():
    columns_dict = {item['key']: item['value'] for item in row['top']}
    flattened_data.append(columns_dict)

car_overview_flattened = pd.DataFrame(flattened_data)

hyderabad_cars_df = pd.concat([car_detail_df, car_overview_flattened], axis = 1)
hyderabad_cars_df.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TS04,First Owner,999 cc,Automatic,2022.0
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,Oct 2014,Third Party insurance,Petrol,5 Seats,"85,582 Kms",TS09,Second Owner,814 cc,Manual,2014.0
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,...,2023,Third Party insurance,Petrol,5 Seats,"10,000 Kms",NaN,First Owner,1197 cc,Manual,2023.0
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,...,Mar 2017,Third Party insurance,Petrol,5 Seats,"50,750 Kms",TS07,First Owner,1197 cc,Manual,2017.0
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,...,2022,Third Party insurance,Petrol,4 Seats,"10,000 Kms",NaN,First Owner,1997 cc,Automatic,2022.0

In [163]:
car_feature_df = pd.json_normalize(hyderabad_cars['new_car_feature'])

flattened_data2 = []

for index, row in car_feature_df.iterrows():
    features = [item['value'] for item in row['top']]
    feature_str = ', '.join(features)
    flattened_data2.append(feature_str)

car_top_feature_flattened = pd.DataFrame(flattened_data2, columns=['Top_Feature'])

hyderabad_cars_df = pd.concat([hyderabad_cars_df, car_top_feature_flattened], axis = 1)
hyderabad_cars_df.head(2)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture,Top_Feature
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TS04,First Owner,999 cc,Automatic,2022.0,"Power Steering, Power Windows Front, Air Condi..."
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,Third Party insurance,Petrol,5 Seats,"85,582 Kms",TS09,Second Owner,814 cc,Manual,2014.0,"Power Steering, Power Windows Front, Air Condi..."

In [165]:
flattened_data3 = []

for index, row in car_feature_df.iterrows():
    row_data = {} 

    for category in row['data']:
        heading = category['heading']
        values = [item['value'] for item in category['list']]
        values_str = ', '.join(values)

        row_data[heading] = values_str
        
    flattened_data3.append(row_data)

flattened_df = pd.DataFrame(flattened_data3)

hyderabad_cars_df = pd.concat([hyderabad_cars_df, flattened_df], axis = 1)
hyderabad_cars_df.head(2)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Ownership,Engine Displacement,Transmission,Year of Manufacture,Top_Feature,Comfort & Convenience,Interior,Exterior,Safety,Entertainment & Communication
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,First Owner,999 cc,Automatic,2022.0,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Fog ...","Anti Lock Braking System, Centeral Locking, Po...","Radio, Speakers Front, Speakers Rear, Usb Auxi..."
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,Second Owner,814 cc,Manual,2014.0,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Remote Tr...","Air Conditioner, Heater, Digital Odometer, Ele...","Adjustable Head Lights, Manually Adjustable Ex...","Child Safety Locks, Driver Air Bag, Day Night ...",NaN
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,...,First Owner,1197 cc,Manual,2023.0,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Power Adjustable Exter...","Anti Lock Braking System, Brake Assist, Center...","Radio, Speakers Front, Speakers Rear, Integrat..."
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,...,First Owner,1197 cc,Manual,2017.0,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Radio, Audio System Remote Control, Speakers F..."
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,...,First Owner,1997 cc,Automatic,2022.0,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Low Fuel ...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center...","Radio, Speakers Front, Speakers Rear, Integrat..."

In [167]:
car_specs_df = pd.json_normalize(hyderabad_cars['new_car_specs'])

flattened_data4 = []
for index, row in car_specs_df.iterrows():
    columns_dict = {item['key']: item['value'] for item in row['top']}
    flattened_data4.append(columns_dict)

car_top_specs_flattened = pd.DataFrame(flattened_data4)

hyderabad_cars_df = pd.concat([hyderabad_cars_df, car_top_specs_flattened], axis = 1)
hyderabad_cars_df.head(2)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Interior,Exterior,Safety,Entertainment & Communication,Mileage,Engine,Max Power,Torque,Wheel Size,Seats
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,"Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Fog ...","Anti Lock Braking System, Centeral Locking, Po...","Radio, Speakers Front, Speakers Rear, Usb Auxi...",16.47 kmpl,999 CC,108.62bhp,175nm,R16,5
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,"Air Conditioner, Heater, Digital Odometer, Ele...","Adjustable Head Lights, Manually Adjustable Ex...","Child Safety Locks, Driver Air Bag, Day Night ...",NaN,21.1 kmpl,814 CC,55.2bhp,74.5Nm,NaN,5

In [169]:
flattened_data5 = []
for index, row in car_specs_df.iterrows():
    row_data = {}
    for category in row['data']:
        for item in category['list']:
            key = item['key']  # Extract the key (e.g., 'Engine', 'Max Power', etc.)
            value = item['value']  # Extract the corresponding value (e.g., '998 CC', '118.36bhp')
            row_data[key] = value
    flattened_data5.append(row_data)

flattened_df = pd.DataFrame(flattened_data5)

hyderabad_cars_df = pd.concat([hyderabad_cars_df, flattened_df], axis=1)
hyderabad_cars_df.head(2)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Top Speed,Acceleration,Ground Clearance Unladen
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,4.9,Disc,Drum,"Tubeless,Radial",R16,5,280,NaN,NaN,NaN
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,4.6 metres,Disc,Drum,Tubeless,NaN,5,215-litres,135 Kmph,19 Seconds,NaN

In [171]:
hyderabad_cars_df['City'] = 'Hyderabad'

hyderabad_cars_df.to_csv('hyderabad_cars_df.csv')